#!/bin/bash
#
# last change: 3.1.2015
#
# description: this is a script which can be started as cronjob or startup script do
#   make daily backus to the BackupPc-Server for clients which are not online all the
#   time like server, eg. for workstations.
# author: gregor binder
# contact: office@wefixit.at
# license: Creative Commons by-nc-sa 4.0 http://creativecommons.org/licenses/by-nc-sa/4.0

# global
FILE_LAST_STATE=/path/to/backupToBackupPC.lastState
FILE_LOG=/path/to/backupToBackupPC.log
PIDFILE=/path/to/backupToBackupPC.pid # see lib/checkPid.sh
DEBUG=true # see lib/logging.sh
JOB=/path/to/backupToBackupPC.job

# config for the job
SERVER=server
USER=backuppc
HOST=host
CMD_DUMP=/usr/share/BackupPC/bin/BackupPC_dump
CMD_FIX_SUMMARY=/usr/share/BackupPC/bin/BackupPC_fixupBackupSummary
CMD="ssh $USER@$SERVER $CMD_DUMP -v -i $HOST"
TODAY=`date +%Y%m%d`

source /path/to/lib/logging.sh
source /path/to/lib/checkPid.sh

